body {
   background-color: black;
}

* {
   color:aliceblue;
}

h1.title {
   text-align: center;
   text-size-adjust: 300px;
}

h1.prince{
   text-align: center;
   border: 2px solid white;
   border-radius: 10px;
}

